/ParkhausJ/ParkhausReal/nbproject/private/
/ParkhausJ/ParkhausReal/build/
/Parkhaus_Java/ParkhausReal/build/
/Parkhaus_Java/ParkhausReal/nbproject/private/
/Snake_Java/Snake/nbproject/private/
/Snake_Java/Snake/build/
/Snake_Java/build/
/Snake_Java/dist/
/Snake_Java/nbproject/private/
